.genDiv {
  display: flex;

  border-radius: 24px;
  background-color: #fff;
  padding: 24px;
  gap: 24px;
  flex-wrap: wrap;
  position: relative;
  width: 82.2vw;
  position: relative;
}

.circle {
  width: 12px;
  height: 12px;
  fill: #38cd3e;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: 47px;
  left: 109px;
}

.teacherImg {
  width: 120px;
  height: 120px;
  padding: 12px;
  border: 3px solid #fbe9ba;
  border-radius: 100px;
}

.textDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 67.2vw;
}

.languagesDiv {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.highDiv {
  display: flex;
  align-items: center;
  margin-right: 64px;
  column-gap: 16px;
  flex-wrap: wrap;
}

.highP {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.highPIcon {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  margin: 0;
  padding: 0;
}

.languageP {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin: 0;
  padding: 0;
  margin-right: 11.85vw;
}

.starIcon {
  fill: #ffc531;
  stroke: 1.2px solid #ffc531;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.bookIcon {
  width: 16px;
  height: 16px;
}

.greenSpan {
  color: #38cd3e;
  margin-left: 4px;
}

.white {
  width: 26px;
  height: 22px;
  stroke-width: 2px;
  stroke: #121417;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.red {
  width: 26px;
  height: 22px;
  stroke-width: 2px;
  position: absolute;
  top: 24px;
  right: 24px;
  stroke: red;
  fill: red;
  cursor: pointer;
}

.teacherName {
  margin-bottom: 32px;
}

.speaksUl {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  flex-wrap: wrap;
}

.readMoreButton {
  margin-bottom: 32px;
}

.languageLi {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  flex-wrap: wrap;
}

.languageSpeaksFirstP {
  margin-left: 4px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
}

.languageSpeaksP {
  margin-left: 4px;
  color: #121417;
}

.readMoreButton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  cursor: pointer;
}

.levelsUl {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.levelLi {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.levelLi:first-child {
  background-color: #f4c550;
  border: none;
}

.vertIcon {
  height: 16px;
  stroke-width: 2px;
  fill: rgba(18, 20, 23, 0.2);
}
