.teachersUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;
  background-color: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 64px;
}

.teachersLi {
  display: flex;
  justify-content: center;
  align-items: center;
}
