.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 128px;
	padding-right: 128px;
	margin-bottom: 20px;
	
	
}

.pages {
	display: flex;
	font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #121417;
gap: 28px;
}

.log {
	display: flex;
}