.genDiv {
  background-color: #f8f8f8;
  padding-bottom: 96px;
  margin-top: 32px;
}

.loadMore {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: #f4c550;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: none;
  padding-block: 0;
  padding-inline: 0;
}

.ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 8.75vw;
  margin-bottom: 20px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.select {
  appearance: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #121417;
  border-radius: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 34px;
  padding-left: 18px;
  height: 48px;
  background: #fff;
  border: none;
}

.option {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar {
  position: absolute;
  top: 40px;
  right: 14px;
  height: 18px;
  stroke: #121417;
  fill: #121417;
}

.notFoundP {
  margin-left: 29vw;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: red;
  padding-left: 18px;
}

.loading {
  margin-left: 45vw;
}
