#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center;
  align-items: center; */
  /* max-width: 14400px; */
  /* margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */
  /* margin-left: auto;
  margin-right: auto; */
}