.pageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 91.12vw;
  /* max-width: max(1312px, 91.1%);
  min-width: 250px; */
  margin-left: auto;
  margin-right: auto;
}

.genDiv {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  max-width: max(720px, 54.87%);
  background-color: #f8f8f8;
  border: none;
  padding-top: 98px;
  padding-bottom: 98px;
  padding-left: 5%;
  padding-right: 8%;
  /* width: 50vw; */
}

.h {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 32px;
  /* width: 38vw; */
}

.p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 64px;
  /* width: 32.7vw; */
}

.spanText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
  font-style: italic;
  font-weight: 400;
  background-color: #cbded3;
  border-radius: 8px;
  padding-right: 6px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



.img {
  border-radius: 30px;
  max-width: max(720px, 43%);
  min-width: 250px;
}


@media screen and (min-width: 1440px) {
  .img {
    max-width: max(568px, 43%);
    
  }
}






.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 16px 88px;
  width: 45%;
  min-width: 170px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  background-color: #9fbaae;
  border: none;
  margin: 0;
  padding-inline: 0;
  padding-block: 0;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%239FBAAEFF' stroke-width='2' stroke-dasharray='6%2c14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
  width: 100%;
  
  column-gap: 7.6%;
  row-gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  padding-left: 9.4%;
  padding-right: 9.4%;
  /* margin-left: 4%;
  margin-right: 4%; */
  /* max-width: max(1312px, 91.1hw); */
}

.span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.li {
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #121417;
}
